<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.zhihuipingjiao.mapper.ex.SurveyEXMapper">
   <resultMap id="abc" type="com.briup.zhihuipingjiao.bean.ex.SurveyEX">
        <id column="id" property="id"/>
       <id column="departmentName" property="departmentName"/>
       <id column="courseName" property="courseName"/>
        <association property="qqn" column="questionnaire_id" select="selectQu"/>
    </resultMap>
    <resultMap id="abnq1" type="com.briup.zhihuipingjiao.bean.ex.QqnEX">
        <id column="id"  property="id" />
        <result column="question_id"  property="questionId" />
        <result column="questionnaire_id"  property="questionnaireId" />
        <collection property="question"
                    ofType="com.briup.zhihuipingjiao.bean.ex.QuestionEX"
                    column="question_id"
                    select="selectQuestion"></collection>
    </resultMap>
    <resultMap id="abnq2" type="com.briup.zhihuipingjiao.bean.ex.QuestionEX">
        <id column="id"  property="id" />
        <result column="name"  property="name" />
        <result column="type"  property="type" />
        <collection property="options"
                    ofType="com.briup.zhihuipingjiao.bean.Options"
                    column="id"
                    select="selectOptions"></collection>
    </resultMap>
 <select id="findAll" resultType="com.briup.zhihuipingjiao.bean.ex.SurveyEX">
     SELECT n.*,t.name AS teacherName,c.`name` AS courseName,d.`name`AS departmentName, c1.`name`AS clazzName,q.`name` AS questionnaireName
FROM briup_survey n,briup_teacher t,briup_course c,briup_department d,briup_clazz c1,briup_questionnaire q
WHERE n.`user_id` = t.`id` AND c.`id` = n.`course_id` AND d.`id`=n.`department_id` AND c1.`id`=n.`clazz_id` AND q.`id`=n.`questionnaire_id`;
 </select>
<select id="show" resultMap="abc">
    SELECT n.*,t.name AS teacherName,c.`name` AS courseName,d.`name`AS departmentName, c1.`name`AS clazzName,q.`name` AS questionnaireName
FROM briup_survey n,briup_teacher t,briup_course c,briup_department d,briup_clazz c1,briup_questionnaire q
WHERE n.`user_id` = t.`id` AND c.`id` = n.`course_id` AND d.`id`=n.`department_id` AND c1.`id`=n.`clazz_id` AND q.`id`=n.`questionnaire_id` AND n.`id`=#{id};
</select>
    <select id="selectQu" resultMap="abnq1">
        select * from  briup_qqn where questionnaire_id=#{id}
    </select>
    <select id="selectQuestion" resultMap="abnq2">
        select * from briup_question where id = #{id}
    </select>
    <select id="selectOptions" resultType="com.briup.zhihuipingjiao.bean.Options">
        select * from briup_options where question_id = #{id}
    </select>
</mapper>